input {
	box-sizing: border-box;
	width: 400px;
	height: 48px;
	padding-left: 15px;
	background-color: #fff;
	border: 1.2px solid #D3D8DC;
	border-radius: 6px;
	font-size: 15px;
	font-family: 'BasisGrotesquePro-Regular';
	color: #A1ABB5;
}
input::placeholder {
	font-size: 15px;
	font-family: 'BasisGrotesquePro-Regular';
	color: #A1ABB5;
}
input:focus-visible {
	outline: none;
	border: 1px solid #316FEA;
	box-shadow: 1px 1px 1px #316FEA, -1px -1px 1px #316FEA;
}
.errorInput {
	border: solid 1px rgb(118, 118, 118);
	box-shadow: inset 1px 1px 3px red, inset -1px -1px 3px red;
}
.errorMessage {
	margin: 0;
	text-align: right;
	font-size: 12px;
	font-family: 'BasisGrotesquePro-Regular';
	color: red;
	font-weight: 600;
}