button {
	box-sizing: border-box;
	width: 25rem;
	height: 3rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	font-family: 'BasisGrotesquePro-Medium';
	cursor: pointer;
}
.blue {
	background-color: #316FEA;
	border: none;
	color: #fff;
}
.grey {
	background-color: #fff;
	border: 0.075rem solid #D3D8DC;
	color: #060E1E;
}

@media screen and (max-width: 26.625em) {
	button {
		width: 18.75rem;
	}
}