.forgotPass_form button:not(:last-child) {
	margin: 1.5625rem 0 1.25rem 0;
}

.message {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: red;
	cursor: pointer;
}

@media screen and (max-width: 26.625em) {
	.forgotPass_form button:not(:last-child) {
		margin: 0.9375rem 0 0.625rem 0;
	}
}