.forgotPass_form {
	width: 400px;
	margin: 0 auto;
	padding: 180px 0 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.forgotPass_form h1 {
	margin: 80px 0 0 0;
	font-size: 30px;
	font-family: 'BasisGrotesquePro-Bold';
	text-align: center;
}
.forgotPass_form input {
	margin: 40px 0 0 0;
}
.forgotPass_form button:not(:last-child) {
	margin: 25px 0 20px 0;
}