.resetPass_form label {
	display: inline-block;
	margin-bottom: 0.5rem;
	font-size: 0.9375rem;
	font-family: 'BasisGrotesquePro-Medium';
	color: #060E1E;
}
.resetPass_form label:not(:first-of-type) {
	margin-top: 1.5625rem;
}
.resetPass_form button {
	margin-top: 1.875rem;
}

@media screen and (max-width: 26.625em) {
	.resetPass_form label {
		margin-bottom: 0.3125rem;
		font-size: 0.875rem;
	}
	.resetPass_form label:not(:first-of-type) {
		margin-top: 1.125rem;
	}
	.resetPass_form button {
		margin-top: 1.25rem;
	}
}